body
{
    background-color: rgb(250, 250, 253);    
}
fieldset
{
    float: left;
    clear: none;
    border: 5px solid black;
    border-color: #bdd8e1;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #ffffff;
    margin-top: 10px;
}

form
{
    float: left;
    clear: none;
    border: 1px solid black;
    border-color: #bdd8e1;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #ffffff;
    margin-top: 10px;
    /*width:98%;*/
}
#form_index{
    width:98%;
}
fieldset ol
{
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

fieldset ol li
{
    clear: none;
    margin: 0 0 4px;
}

fieldset ol li label
{
    display: block;
    width: 120px;
    float: left;
}

fieldset ol li.action
{
    
}

legend
{
    font-size: 16px ;
    font-weight: bold;  
    color: rgb(81, 81, 81);
}

input[type='submit']
{
    background-color: rgb(91, 116, 168);
    color: White;
    font-weight: bold;
    height: 30px;
    width: 10em;
    float: right;
}

li.Radio
{
    float: none;
}

.action
{
    width: 100%;
}

#nav
{
    background-color: #E9EFFB;
	border: 1px solid #828091;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
	display: block;
}
#nav div
{
    height: 50px;
    width: 200px;
    border: none;
    margin-left: 10px;
    
}

#nav ol
{
    list-style-type: none;
}

#nav li
{
    float: left;
    margin-left: 5px;
}

.tab
{
	background-color: #D8DFEA;
	margin-top: 5px;
	height: 20px;
	text-align: center;
	color: #3B5998;
	cursor: default;
	vertical-align: middle;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
	font-size: 14px;
}

.tab:hover
{
	/*background-color: #8ac380;*/
	cursor: pointer;
	background-color: #3B5998;
	color: #D8DFEA;
}
label.error
{
    float: right;
    color: Red;
}
