#cabecera{
   visibility:hidden;
   display: none;
} 

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: black;
	text-decoration: none;
	font-weight: normal;

}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	color: black;
	font-weight: normal;


}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
}
p  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: BLACK;
	 text-align: justify;

}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: black;
	display:inline;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	display:inline;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	display:inline;
}

h7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: black;
	display:inline;

in {
	font-family: Arial:
	font-size: 11px;
	color: black;
	font-weight: NORMAL;
}


ib {
	font-family: Arial:
	font-size: 11px;
	color: black;
	font-weight: normal;
}

TD_J {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	text-align: justify;
}
